/* Fonte arquivada */
@font-face{
	font-family: Sneak;
    	src: url(../fonts/Sneak-Attack.ttf);
}

/* Textos gerais do site*/
body{
	background-image: url("../img/background.png");
  background-repeat: repeat;
	background-color: #00868B;
	font-family: Georgia;
	text-align: justify;
	height: auto;
	font-size: 17px;
}

/* Texto da home. */
.boas_vindas{
	font-size: 28px;
	text-align: center;
}

/* Texto de aviso. */
.aviso{
	text-align: center;
}

/* Background do conteúdo da página */
.fundo_da_pagina{
	background-color: rgba(255, 255, 255, 0.9);
	margin: 20px;
	padding: 8px;
}

/* Título do site. */
.titulo{
	color: white;
	padding-left: 7px;
	padding-right: 12px;
	font-size: 24px;
	text-align: center;
}

/* Data. */
.data{
	text-align: right;
	font-family: Sneak, Georgia;
	padding-right: 8px;
	font-size: 10px;
	color: white;
}

/*  Menu do cabeçalho. */
.menu{
	font-family: Sneak, Georgia;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.menu td{
	padding-left: 7px;
	padding-right: 7px;
	font-size: 14px;
}

.menu a:link{
	text-decoration: none;
	color: #ADD8E6;
}

.menu a:visited{
	text-decoration: none;
	color: #ADD8E6;
}

.menu a:hover{
	text-decoration: none;
	color: white;
}

.menu a:active{
	text-decoration: underline;
	color: white;
}

/* Background do cabeçalho. */
.fundo_menu{
	background-color: rgba(0, 0, 0, 0.95);
	margin-left: -8px;
	margin-right: -8px;
	margin-top: -8px;
}

/* Rodapé da página. */
#rodape{
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 10px;
	text-align: center;
	font-family: Sneak, Georgia;
	color: white;
}

/* Background do rodapé. */
.fundo_rodape{
	margin-top: 40px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: -8px;
	background-color: rgba(3, 18, 82, 0.95);
}

/* Formulários do site. */
#formulario th, td, table{
	text-align: left;
	vertical-align: middle;
	font-weight: normal;
	border-style: none;
	font-size: 17px;
}

#formulario legend{
	text-align: left;
	font-size: 25px;
}

/* Botões de enviar e limpar dados. */
.botoes{
	text-align: center;
}

/* Tabela de classificação do torneio de xadrez. */



/* Títulos da tabela de classificação do torneio de xadrez. */



/* Dados da tabela de classificação do torneio de xadrez. */


.classificacao{border-collapse:collapse;border-spacing:0;border-color:#999;margin: 0 auto;}
.classificacao td{text-align-last: center;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.classificacao .titulo_tabela{text-align-last: center;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;}
