<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<meta name="author" content="Carlos Alexandre">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/principal.css">
		<title>Sistema de Torneio de Xadrez</title>
	</head>

	<body>
		<div class="fundo_da_pagina">

			<!-- Cabeçalho da página -->
			<div class="fundo_menu">
								<table class="menu">
									<tr>
										<td>
											<h1 class="titulo"> Torneiro de <br/> Xadrez </h1>
										</td>
										<td>
											<a href="/index">Home</a>
										</td>
										<td>
											<a href="/registro">Registro</a>
										</td>
										<td>
											<a href="/agendamento">Agendamento</a>
										</td>
										<td>
											<a href="/resultados">Resultados</a>
										</td>
										<td>
											<a href="/classificacao">Classificação</a>
										</td>
									</tr>
								</table>

				<div class="data"> <script type="text/javascript" src="js/data.js"></script></div>
				<hr/>

			</div>
			<!-- Fim do cabeçalho da página -->
			<!-- Conteúdo da página -->
				<form id="formulario" name="agendamento" action="/partida" method="post">
					<fieldset>
						<legend>Agendamento</legend>
						<table>
							<tr>
								<th>Nome da partida:</th>
								<td><input type="text" name="nome" size="30" class="campos" required></td>
							</tr>
							<tr>
								<th>Jogador(a) 1:</th>
								<td><select name="j1" class="campos" required>
									<option value="" selected></option>
									<% for(var i = 0; i<jogadores.length; i++){%>
									<option value="<%=jogadores[i]._id%>"><%=jogadores[i].nome%></option>
									<%}%>
									</select>
								</td>
							</tr>
							<tr>
								<th>Jogador(a) 2:</th>
								<td><select name="j2" class="campos" required>
									<option value="" selected></option>
									<% for(var i = 0; i<jogadores.length; i++){%>
									<option value="<%=jogadores[i]._id%>"><%=jogadores[i].nome%></option>
									<%}%>
								</select>
								</td>
							</tr>
						</table>
					</fieldset>
					<br/>
					<!-- Botões Enviar e Limpar -->
					<div class="botoes">
						<input type="submit" value="Enviar dados">
						<input type="reset" value="Limpar dados">
					</div>
				</form>
			<!-- Fim do conteúdo -->
		</div>

		<!--Créditos -->
		<div class="fundo_rodape">
			<div id="rodape">
				<img src="img/ufjf.png" alt="Logo da UFJF" height="50px"/> <br/>
				Carlos Alexandre<br/>
				Laboratório de Programação VI 2016.3<br/>
				Universidade Federal de Juiz de Fora
			</div>

		</div>

	</body>

</html>
