<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Detalhes de Contato</title>
  </head>
  <body>
    <h1>Detalhes de Contato</h1>
    <h2>Versão: <%=versao%></h2>
    <h2>E-mail: <%=contato%></h2>
    <footer>DCC © 2016</footer>
  </body>
</html>
