<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<meta name="author" content="Carlos Alexandre">
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/principal.css">
		<title>Sistema de Torneio de Xadrez</title>
	</head>

	<body>
		<div class="fundo_da_pagina">

			<!-- Cabeçalho da página -->
			<div class="fundo_menu">

				<table class="titulo">
					<tr>
						<td>
							<h1> Torneiro de <br/> Xadrez </h1>
						</td>
						<td>
							<table class="menu">
								<tr>
									<td>
										<a href="/index">Home</a>
									</td>
									<td>
										<a href="/registro">Registro</a>
									</td>
									<td>
										<a href="/agendamento">Agendamento</a>
									</td>
									<td>
										<a href="/resultados">Resultados</a>
									</td>
									<td>
										<a href="/classificacao">Classificação</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

				<div class="data"> <script type="text/javascript" src="js/data.js"></script></div>
				<hr/>

			</div>
			<!-- Fim do cabeçalho da página -->
			<!-- Conteúdo da página -->
			<div>
				<div class="boas_vindas">
					Bem-vindo ao sistema de torneio de xadrez!
				</div>
				Aqui você pode:
				<ul>
					<li>Cadastrar jogadores;</li>
					<li>Registrar novas partidas e seus resultados;</li>
					<li>Ver a classificação do sorteio.</li>
				</ul>
			</div>
			<!-- Fim do conteúdo -->
		</div>

		<!--Créditos -->
		<div class="fundo_creditos">
			<div id="creditos">
				<img src="img/ufjf.png" alt="Logo da UFJF" height="50px"/> <br/>
				Carlos Alexandre<br/>
				Laboratório de Programação VI 2016.3<br/>
				Universidade Federal de Juiz de Fora
			</div>

		</div>

	</body>

</html>
