<!DOCTYPE html>
<html lang="pt-br">

	<head>
		<meta name="author" content="Carlos Alexandre">
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../public/css/principal.css">
		<title>Bom Jardim de Minas 3.0</title>
	</head>

	<body>
		<div class="fundo_da_pagina">

			<!-- Cabeçalho da página -->
			<div class="fundo_menu">

				<table class="titulo">
					<tr>
						<td>
							<h1> Torneiro de <br/> Xadrez </h1>
						</td>
						<td>
							<table class="menu">
								<tr>
									<td>
										<a href="index.html">Home</a>
									</td>
									<td>
										<a href="cidade.html">A Cidade</a>
									</td>
									<td>
										<a href="fotos.html">Fotos</a>
									</td>
									<td>
										<a href="telefones.html">Telefones</a>
									</td>
									<td>
										<a href="contato.html">Contato</a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>

				<div class="data"> <script type="text/javascript" src="../../public/js/data.js"></script></div>
				<hr/>

			</div>
			<!-- Fim do cabeçalho da página -->
			<!-- Conteúdo da página -->
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam luctus rhoncus tincidunt. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla erat mauris, ultricies in mollis non, fringilla feugiat urna. Cras egestas sem erat, sit amet lobortis ex finibus et. Proin ornare malesuada gravida. Donec iaculis malesuada risus, vitae sodales nulla auctor vel. Donec vitae mi justo. Sed non sapien vulputate dui venenatis pretium. <br/>

			Quisque a aliquam leo. Aenean at venenatis diam, non tempus urna. Donec non est tortor. Etiam lobortis tincidunt odio ac pulvinar. Fusce porttitor dolor sit amet nunc interdum, id hendrerit massa vestibulum. Pellentesque nibh leo, fringilla in velit vitae, porta convallis sapien. Suspendisse eget gravida massa. <br/>

			Ut sagittis tincidunt eros ac dictum. Mauris efficitur, nisl non sodales lacinia, lectus turpis suscipit metus, et feugiat nulla ligula sed sapien. Sed faucibus ante eu purus luctus feugiat. Mauris ac pharetra orci, id facilisis mi. Aenean ullamcorper leo vitae gravida iaculis. Maecenas vitae nulla ut arcu ultrices aliquet nec vel tellus. Vestibulum suscipit, ipsum ac sodales fringilla, risus mauris efficitur velit, vitae commodo eros quam et ipsum. Cras sit amet vehicula elit. Ut porta consequat lacus et maximus. Maecenas magna augue, ornare eu volutpat a, congue eu massa. Pellentesque lectus metus, tristique sed risus ut, cursus facilisis nisl. Nullam erat nulla, commodo nec quam id, lacinia faucibus tortor. Nam volutpat urna malesuada dui tincidunt varius.
			<!-- Fim do conteúdo -->
		</div>

		<!--Créditos -->
		<div class="fundo_creditos">
			<div id="creditos">
				<img src="../../public/img/ufjf.png" alt="Logo da UFJF" height="50px"/> <br/>
				Carlos Alexandre<br/>
				Laboratório de Programação VI
			</div>

		</div>

	</body>

</html>
