<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Detalhes da Turma</title>
  </head>
  <body>
    <h1><%=prof.nome+": "+prof.siape%></h1>
    <h2>Alunos</h2>
    <table>
      <tr>
        <th>Matricula</th>
        <th>Nome</th>
      </tr>
      <%
      for(var i=0; i<t.alunos.length; i++){
        var aluno = t.alunos[i];
      %>
      <tr>
        <td><%=aluno.matricula%></td>
        <td><%=aluno.nome%></td>
      </tr>
      <%
      }
      %>
    </table>
  </body>
</html>
